
@font-face {
    font-family: Existence;
    src: url("../../fonts/Existence-Light.otf");
}

@font-face {
    font-family: Open Sans;
    src: url("../../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../fonts/HelveticaNeue/HelveticaNeue Light.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../fonts/HelveticaNeue/HelveticaNeueMed.ttf");
    font-weight: bold;
}
