
@import "settings.scss";

.dz-preview {
    display: none;
}

#dropzone {
    width: 500px;
    height: 100px;
    line-height: 65px;
}

#id_file {
    display: none;
}

.idx-info {
    .text {
        width: 100%;
        text-align: center;
    }
}
