{% extends 'base.html' %}

{% load fshare_extra %}

{% block title %}{{ fname }}{% endblock %}

{% load staticfiles %}
{% block additional_scripts %}
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.cookie.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/utils.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/download.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="fshare-info">
        <p class="name">
            <label>File</label>
            <input readonly value="{{ fname }}" />
        </p>
        <p class="size">
            <label>Size</label>
            <input readonly value="{{ f.size | human_size }}B" />
        </p>
        <p class="checksum">
            <label>MD5 Checksum</label>
            <input readonly value="{{ f.checksum }}" />
        </p>
    </div>

    {% if flist %}
    <div class="file-content">
        <div class="content"><label>Content</label> <div class="value">
            <p class="show_content">display content</p>
            {% for f_name in flist %}
                <p class="content_file hidden">{{ f_name }}</p>
            {% endfor %}
        </div></div>
        <p></p>
    </div>
    {% endif %}

    <div class="file-button">
        <a href="{% url 'get' f.id %}{% if key %}?key={{ key }}{% endif %}">
            <div class="fshare-btn">
                <span class="text">
                    Download
                </span>
            </div>
        </a>
    </div>

{% endblock %}

{% block filtercontent %}
    deciphering file ... please wait&nbsp;<span class="points">&nbsp;&nbsp;&nbsp;</span>
{% endblock %}
